* {
  transition: background,border-color,opacity,box-shadow,top,bottom,left,margin,right .2s   ease-in-out;
}

body {
  margin: 0;
  //font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
