//color-scheme: light;

$--dark-0: #000;
$--dark-1: #1e1e1e;
$--dark-2: #2e2e2e;
$--dark-3: #3e3e3e;
$--dark-4: #4e4e4e;
$--dark-5: #5e5e5e;
$--dark-6: #6e6e6e;
$--dark-7: #7e7e7e;
$--dark-8: #8e8e8e;
$--light-0: #fff;
$--light-1: #e1e1e1;
$--light-2: #d1d1d1;
$--light-3: #c1c1c1;
$--light-4: #b1b1b1;
$--light-5: #a1a1a1;
$--light-6: #919191;
$--light-7: #818181;
$--light-8: #717171;
$--code-keyword-light: #bd2864;
$--code-keyword-dark: #bd2864;
$--code-string-light: #297a3a;
$--code-string-dark: #62c073;
$--code-function-light: #0068d6;
$--code-function-dark: #52a8ff;
$--code-constant-dark: #f8c555;
$--code-constant-light: #f08d49;
$--code-operator-dark: #67cdcc;
$--code-operator-light: #016464;
$--link-dark: #2563eb;
$--link-light: #3b82f6;
$--dark-0-60: rgba(0, 0, 0, .6);
$--light-0-60: rgba(255, 255, 255, .6);

$main: $--light-0;
$main-hover: $--light-1;
$secondary: $--light-1;
$secondary-hover: $--light-2;
$tertiary: $--light-2;
$tertiary-hover: $--light-3;
$accent: $--light-3;
$accent-hover: $--light-4;
$main-text: $--dark-0;
$main-text-hover: $--dark-1;
$secondary-text: $--dark-1;
$secondary-text-hover: $--dark-2;
$tertiary-text: $--dark-2;
$tertiary-text-hover: $--dark-3;
$accent-text: $--dark-3;
$accent-text-hover: $--dark-4;
$border: $--light-1;
$border-hover: $--dark-8;
$main-60: $--light-0-60;
$code-keyword: $--code-keyword-light;
$code-string: $--code-string-light;
$code-function: $--code-function-light;
$code-constant: $--code-constant-light;
$code-operator: $--code-operator-light;
$link: $--link-dark;